
<div class="table-responsive">
    <div><button class=" btn btn-danger btn-sm" (click)="Ifmodificar()">
        modificar entrada
    </button></div>
    <table class="table table-bordered table-striped">
        <thead>

            <tr>

                <th>id</th>
                <th>
                    producto
                </th>
                <th>
                    stock
                </th>

                <th>
                    entrada
                </th>
                <th>
                    precio 

                </th>
                @if(modificar){
                    <th>estock modifcado</th>
                }

            </tr>


        </thead>

        <tbody>
            @for (producto of entrada.productos ; track $index ){
            <tr>
                <td>
                    {{producto.id}}
                </td>
                <td>
                    {{producto.producto.nombre}}
                </td>
                <td>
                    {{producto.producto.stock}}
                </td>
                <td>
                    {{buscarProducto(producto.producto.id)}}


                </td>
                <td>
                    {{producto.producto.precio}}
                </td>
               @if(modificar){
                <td>
                    <input placeholder="number" type="number" #stockInput
                    class="form-control my-2" min="1"  [(ngModel)]="producto.cantidad" >

                </td>

               }
               

            </tr>
            }
        </tbody>
        <tfoot>
      
           
        </tfoot>
        <div><button class=" btn btn-success btn-sm" (click)="EnviarListaModificado(entrada.productos)">
            enviar modificacion
        </button></div>



    </table>
</div>