
<div>
    <h1>  provedor {{entrada.proveedor.nombre}}</h1>
</div>

<div class="table-responsive">
    <div style="padding: 5px;"><button class=" btn btn-danger btn-sm" (click)="Ifmodificar()">
        modificar entrada
    </button></div>
    <table class="table table-bordered table-striped">
        <thead>

            <tr>

                <th>id</th>
                <th>
                    producto
                </th>
                <th>
                    stock
                </th>

                <th>
                    entrada
                </th>
                <th>
                    precio 

                </th>
                @if(modificar){
                    <th>estock modifcado</th>
                }
                @if(modificar){
                    <th>eliminar</th>
                }

                

            </tr>


        </thead>

        <tbody>
            @for (producto of entrada.productos ; track $index ){
            <tr>
                <td>
                    {{producto.id}}
                </td>
                <td>
                    {{producto.producto.nombre}}
                </td>
                <td>
                    {{producto.producto.stock}}
                </td>
                <td>
                    {{buscarProducto(producto.producto.id)}}


                </td>
                <td>
                    {{producto.producto.precio}}
                </td>
               @if(modificar){

                @if(buscarProducto(producto.producto.id)!<=producto.producto.stock){
                <td>
                    <input placeholder="number" type="number" #stockInput
                    class="form-control my-2" min="1"  [(ngModel)]="producto.cantidad" >

                </td>
                <td>
                    <button class=" btn btn-danger btn-sm" (click)="eliminar(producto.producto.id)">
                        eliminar
                        </button>
                    </td>

            }@else {
                <td>
                    no se puede modificar

                </td>
                <td>
                    no se puede elimnar

                </td>


            }
        }
    </tr>
    }
    
          
            

        </tbody>
        <tfoot>
      
           
        </tfoot>
       


    </table>
</div>

<div style="display: flex;  ">


    @if(modificar && eliminarEntradad){
       <div style="padding: 5px;"><button class=" btn btn-success btn-sm" (click)="EnviarListaModificado(entrada.productos)">
            enviar modificacion
        </button></div>

            @if(eliminarEntradad){
                <div style="padding: 5px;"><button class=" btn btn-danger btn-sm" (click)="EliminarEntrada()">
                    eliminar la entrada
                </button></div>
        
                
            }@else{
            <span style="padding: 5px;"> no se puede eliminar la entrada</span>
            }
    }

   
</div>