@if(proveedor_selecc){
<h1>{{(producto.id>0)? 'actualizar':'crear entrada de '}} productos</h1>
<h2>selecciona un proveedor</h2>
<div>
    <input type="text" (input)="escucharInput($event)" placeholder="Escribe algo...">
    <p>Texto ingresado: {{ buscador }}</p>

</div>

<div>

    @if(proveedores.length>0 && productos.length<=0){ <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>

                <tr>
                    <th>
                        name
                    </th>

                    <th>
                        seleccionar
                    </th>





                </tr>


            </thead>

            <tbody>
                @for (proveedor of proveedoresPaginados ; track $index ){
                <tr>
                    <!--<td>
                                {{user.id}}
                            </td>-->
                    <td>
                        {{proveedor.nombre}}
                    </td>
                    <td>
                        <button class=" btn btn-danger btn-sm" (click)="seleccionado(proveedor)">
                            selccionar
                        </button>
                    </td>







                </tr>

                }



            </tbody>

            <tfoot style="margin: auto;">

                <mat-paginator [length]="proveedores.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
                    (page)="cambiarPagina($event, proveedores)" showFirstLastButtons>

                </mat-paginator>
            </tfoot>





        </table>


</div>
}
</div>

}


@if(!proveedor_selecc){
@if (provedorSeleccionado.id>0){
<div>

    <div style="display: flex;">

        <div style="padding: 4px;">
            <button class=" btn btn-primary btn-sm" (click)="camabiarProveedor()">
                cambiar proveedor
            </button>
        </div>
        <div style="padding: 4px;">
            <button class=" btn btn-success btn-sm" (click)="crearPRoducto()">
                agregar producto nuevo
            </button>
        </div>
        <div>
            <input type="text" (input)="escucharInputpraBuscarProducto($event)" placeholder="Escribe algo...">

        </div>
    </div>






    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>

                <tr>

                    <th>codigo_producto</th>
                    <th>
                        nombre
                    </th>
                    <th>
                        precio
                    </th>
                    <th>Stock_existente</th>

                    <th>Stock_Entradad</th>


                    <th>
                        seleccionar
                    </th>

                </tr>


            </thead>

            <tbody>
                @for (producto of proveedoresPaginados ; track $index ){
                <tr>
                    <td>
                        {{producto.codigo_producto}}
                    </td>
                    <td>
                        {{producto.nombre}}
                    </td>
                    <td>
                        {{producto.precio}}
                    </td>
                    <td>
                        {{bucarStockexistente(producto.id)}}
                    </td>

                    
                    <input placeholder="number" type="number" #stockInput
                    class="form-control my-2" min="1">

                    <td>
                        <button class=" btn btn-primary btn-sm" (click)="agregarProductoAlista(producto,stockInput.value)">
                            selccionar
                        </button>
                    </td>


                </tr>
                }
            </tbody>
            <tfoot>


                <mat-paginator [length]="productos.length" [pageSize]="pageSize" [pageIndex]="pageIndex"

                    (page)="cambiarPagina($event, productos)" showFirstLastButtons>

                </mat-paginator>
            </tfoot>
        </table>
    </div>
</div>
}

@if(producto.proveedor.id>0 && producto_new==true ){
<div class="card">
    <div class="card-dialog">
        <div class="card-content">
            <div class="card-header">
                <div style="display: flex;">

                    <h5 class="card-title"> producto nuevo </h5>
                        <button class="btn-close" style="margin-left: 92%" aria-label="Close" (click)="cerraformularioProducto()"></button>


                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit(productoForm)" class="m-2" #productoForm="ngForm">
                    <div>

                        <input placeholder="nombre" name="name" [(ngModel)]="producto.nombre" class="from-control my-2"
                            #name="ngModel">
                        <!-- required -->
                        @if(errors?.nombre){
                        <div class="text-danger">

                            {{errors.nombre}}
                        </div>
                        }



                    </div>

                    <div>
                        <input type="number" placeholder="precio" name="precio" [(ngModel)]="producto.precio"
                            class="from-control my-2" #name="ngModel">
                        <!-- required -->
                        @if(errors?.precio){
                        <div class="text-danger">

                            {{errors.precio}}
                        </div>
                        }
                    </div>
                    <div>
                        <input type="number" placeholder="stock" name="stock" [(ngModel)]="producto.stock"
                            class="from-control my-2" #name="ngModel">
                        <!-- required -->
                        @if(errors?.Stock){
                        <div class="text-danger">

                            {{errors.Stock}}
                        </div>
                        }
                    </div>


                    <div>
                        <input placeholder="proveedor" name="proveedor" [(ngModel)]="producto.proveedor.id"
                            [disabled]="true" class="from-control my-2" #name="ngModel" [hidden]="true">
                        <label for="">proveedor: {{producto.proveedor.nombre}}</label>
                        <!-- required -->
                        @if(errors?.proveedor){
                        <div class="text-danger">

                            {{errors.proveedor}}
                        </div>
                        }
                    </div>





                    <div>
                        <button type="submit" class="btn btn-primary my-2">
                            {{(producto.id>0)?'update':'create'}}



                        </button>





                    </div>

                </form>






            </div>
        </div>


    </div>

</div>
}
@if(productos_seleccionado.length>0){

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>

            <tr>

                <th>codigo_producto</th>
                <th>
                    nombre
                </th>
                <th>
                    precio
                </th>
                <th>Stock_entrada</th>


                <th>eleminar</th>

            </tr>


        </thead>

        <tbody>
            @for (producto of productos_seleccionado ; track $index ){
            <tr>
                <td>
                    {{producto.codigo_producto}}
                </td>
                <td>
                    {{producto.nombre}}
                </td>
                <td>
                    {{producto.precio}}
                </td>





                <td>
                    {{producto.stock}}

                </td>



                <td>
                    <button class=" btn btn-primary btn-sm" (click)="eliminarProducto(producto.nombre)">
                        eliminar
                    </button>
                </td>



            </tr>
            }
        </tbody>

        <tfoot>
            <button class=" btn btn-primary btn-sm" (click)="crearEntrada(productos_seleccionado)">
                enviarEntrda
            </button>
        </tfoot>
    </table>
</div>

}


}