<qrcode 
  [qrdata]="myAngularxQrCode" 
  [width]="256" 
  [errorCorrectionLevel]="'M'"
  (qrCodeURL)="onChangeURL($event)">
</qrcode>

<!-- Solo mostrar el enlace de descarga si se ha generado el QR -->
<!--<a  [href]="qrCodeDownloadLink" download="qrcode.png">Descargar QR</a> -->



<ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>

<!-- Resultado del escaneo -->
<p>Resultado: {{scannedData}}</p>



<!-- Botón para iniciar/detener escaneo -->
<button (click)="action.isStart ? action.stop() : action.start()">
  {{ action.isStart ? 'Detener' : 'Iniciar escaneo' }}
</button>