<div class="container mt-4">

  <div class="card shadow-lg rounded-4 border-0">
    <div class="card-body p-4">
      <h1 class="card-title text-center mb-4 text-success fw-bold">
        📦 Detalles de Salida de Productos
      </h1>

      <div class="d-flex justify-content-end mb-4">
        <button class="btn btn-success btn-sm px-4" (click)="generatePDF()">
          <i class="bi bi-file-earmark-pdf-fill me-2"></i> Generar PDF
        </button> 
      </div>

      <div class="mb-3">
        <h5 class="mb-3">
          <strong>👤 Usuario Responsable:</strong>
          <span class="text-primary">{{ salidadProducto.usuarioResponsable }}</span>
        </h5>

        <h5 class="mb-3">
          <strong>📝 Motivo:</strong>
          <span class="text-secondary">{{ salidadProducto.motivo }}</span>
        </h5>

        <h5 class="mb-3">
          <strong>💬 Observaciones:</strong>
          <span class="text-body">{{ salidadProducto.observaciones }}</span>
        </h5>

        <h5 class="mb-0">
          <strong>📅 Fecha:</strong>
          <span class="text-dark">{{ salidadProducto.fecha | date:'medium' }}</span>
        </h5>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h3 class="mb-3">🛒 Listado de Productos</h3>

    <div class="table-responsive rounded-4 shadow-sm">
      <table class="table table-hover table-bordered align-middle">
        <thead class="table-dark text-center">
          <tr>
            <th>🧾 Nombre</th>
            <th>📦 Stock Disponible</th>
            <th>📤 Cantidad que Salió</th>
            <th>💰 Precio unitario</th>
            <th>💰 precio total</th>
          </tr>
        </thead>
        <tbody>
          @for (productos of salidadProducto.productos; track $index) {
          <tr>
            <td>{{ productos.producto.nombre }}</td>
            <td class="text-center">{{ productos.producto.stock }}</td>
            <td class="text-center">{{ productos.cantidad }}</td>
            <td class="text-end">$ {{ productos.producto.precio | number: '1.0-0' }}</td>
            <td class="text-end">$ {{ calcularPrecioTotal(productos.cantidad ,productos.producto.precio )| number:
              '1.0-0' }}</td>


          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>



</div>