

 <div class="card" >
    <div class="card-dialog">
      <div class="card-content">
        <div class="card-header">
          <h5 class="card-title">form            {{(user.id>0)? 'update':'create'}}         </h5>
        </div>
        <div class="card-body">
            
  <form (ngSubmit)="onSubmit(userForm)" class="m-2" #userForm="ngForm">

    <div>
        <input
        placeholder="Name"
        name="name"
        [(ngModel)]="user.name"
        class="from-control my-2"
        required 
        #name="ngModel"
            
        >
        @if (name.invalid && (name.dirty || name.touched)){

            @if (name.errors!['required']){
                <div  class="text-danger">
                    nombre es requerido
                </div>

            }
        }

    

    </div>
    
    <div>
        <input
        placeholder="lastname"

        name="lastname"

        [(ngModel)]="user.lastname"
        class="from-control my-2"
        #lastname="ngModel"
        required

        
        >

        @if (lastname.invalid && (lastname.dirty || lastname.touched)){

            @if (lastname.errors!['required']){
                <div  class="text-danger">
                    lastname es requerido
                </div>

            }
        }


    </div>
    <div>
        <input
        placeholder="email"
        name="email"
        [(ngModel)]="user.email"
        class="from-control my-2"
        required 
        #email="ngModel"
            
        >
        @if (email.invalid && (email.dirty || email.touched)){

            @if (email.errors!['required']){
                <div  class="text-danger">
                    email es requerido
                </div>

            }
        }

    

    </div>
    
     <div>
        <input
        name="username"

        placeholder="username"
        [(ngModel)]="user.username"
        class="from-control my-2"
        minlength="8"
        required
        #username="ngModel"

        
        >

        @if (username.invalid && (username.dirty || username.touched)){

            @if (username.errors!['required']){
                <div class="text-danger">
                    username es requerido
                </div>
            }
                @if (password.errors!['minlength']){
                    <div  class="text-danger">
                        no debe ser menor 8 caracteres
                    </div>
    
                

            }
        }

    </div>
    <div>
        <input
        name="password"
        placeholder="password"
        [(ngModel)]="user.password"
        class="from-control my-2"
        type="password"
        minlength="8"
        required
        #password="ngModel"

        
        >

        @if (password.invalid && (password.dirty || password.touched)){

            @if (password.errors!['required']){
                <div  class="text-danger">
                    password es requerido
                </div>

            }
                @if (password.errors!['minlength']){
                    <div  class="text-danger">
                        no debe ser menor 8 caracteres
                    </div>
    
                }

          
        }
        

    </div>

    <div>
        <button type="submit" class="btn btn-primary my-2"
        
        [disabled]="userForm.invalid"
        >
        
           {{(user.id>0)? 'update':'create'}} 

        </button>


        <button type="button" class="btn btn-secondary m-2"
      (click)="onClear(userForm)"  
    >
    clear</button>
        
        
    </div>

 </form>
        </div>
        <div class="card-footer">
         
        </div>
      </div>
    </div>
  </div>