<div class="container mt-5">
    @if(isAuth){
    <h1 class="mb-4 text-center text-primary fw-bold">{{ title }}</h1>
    }
  
    @if(admin) {
    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-success" [routerLink]="['/users/create']">
        ➕ Crear Usuario
      </button>
    </div>
    }
  
    @if(isAuth){
  
  
    @if(users.length == 0){
    <div class="alert alert-warning shadow-sm rounded-4">⚠️ No hay usuarios registrados en el sistema.</div>
    }@else {
    <div class="table-responsive shadow-sm rounded-4">
      <table class="table table-bordered table-hover align-middle text-center">
        <thead class="table-dark">
          <tr>
            <th>👤 Nombre</th>
            <th>📝 Apellido</th>
            <th>📧 Email</th>
            <th>🏷️ Nombre de Usuario</th>
            
            <th>🗑️ Eliminar</th>
            <th>✏️ Editar</th>
          
          </tr>
        </thead>
        <tbody>
          @for (user of users; track $index){
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
          
            
            <td>
              <button class="btn btn-danger btn-sm" (click)="onRemoveUser(user.id)">
                Eliminar
              </button>
            </td>
            <td>
              <button class="btn btn-info btn-sm" [routerLink]="['/users/edit', user.id]">
                Editar
              </button>
            </td>
            
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
 
  
    <div class="mt-3">
      <paginator [paginator]="paginator" [url]="'/users/page'"></paginator>
    </div>
    }
  </div>