<div class="card"style="width: 50%; margin:auto" >
    <div class="card-header">

        <h5 class="card-title"> login page</h5>
    </div>

        <div class="card-body" style="width: 80%;" >
            <form (ngSubmit)="onSumit()">
                <input name="username" style="width: 120%" class="form-control mb-3  " placeholder="Username"  [(ngModel)]="user.username">
                <input name="password" style="width: 120%" class="form-control  mb-3 " type="password" placeholder="password" 
                [(ngModel)]="user.password"
                >
              
                <button class="btn btn-primary" type="submit">
                    login

                </button>





            </form>
        </div>
   
</div>